#name {
    font-size: 2em;
    font-weight: bold
}
.aligntop, .rightjust {
    width: 49%;
    display: inline-block;
}
.rightjust {
    text-align: right;
}
.aligntop {
    vertical-align: top;
}
table {
    width: 100%;
}
td {
    text-align: center
}
.role {
    font-weight: bold;
}
.company{
    font-style: italic;
}